html {
  background-color: #0C0C0C;
}

h1 {
  color: grey;
  font-family: sans-serif;
  text-align: center;
  font-weight: bolder;
}

.title {
  background-image: url(../images/background.jpg);
  height: 300px;
  border: 5px solid black;
  padding: 5px;
  margin: 5px;
}

p {
  color: grey;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.button {
  font-family: sans-serif;
  float: right;
  background-color: #D3D3D3;
  font-size: 30px;
  height: 150px;
  border: 5px solid black;
  padding: 10px;
  margin: 5px;
  width: 300px;

}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2.button {
  text-align: right;
  color: black;
}

h2 {
  float: left;
  text-align: left;
  ;
  color: grey;
  font-weight: bold;
  font-family: sans-serif;
}

img {
  float: left;
  width: 180px;
  height: 180px;
}
